
* {
    --cor-preto: #222831;
    --cor-menos-escura: #393E46;
    --cor-azul-escuro: #007C82;
    --cor-azul-claro: #00ADB5;
    --cor-cinza: #EEEEEE;
    --cor-branco: #FFFFFF;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    color: var(--cor-preto);
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    border-radius: 5px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-cinza);
}

nav{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--cor-branco);
    align-items: center;
}

.nav__logo{
    padding: 0 10px;
}

.nav__itemList{
    display: flex;
}

.nav__itemList--item a{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    background-color: var(--cor-branco);
    text-decoration: none;
}

.nav__itemList--item a:hover{
    text-decoration: underline;
}

.nav__itemList a:hover{
    text-decoration: underline;
}

.nav__itemList--download a{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    background-color: var(--cor-azul-escuro);
    border: var(--cor-azul-escuro) 1px solid;
    color: var(--cor-branco);
    text-decoration: none;
}

.nav__itemList--download a:hover{
    color: var(--cor-preto);
    background-color: var(--cor-azul-claro);
    border: var(--cor-azul-claro) 1px solid;
    text-decoration: none;
}

.main__info{
    display: flex;
    margin: 0 5%;
    flex-direction: row;
    height: calc(100vh - 60px);
}

.main__text{
    padding: 0 5% 0 5%;
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.main__text span {
    width: 70%;
    cursor: default;
}

.main__text span h1{
    font-size: 3.5rem;
}

.main__text span p{
    font-size: 1.2rem;
    letter-spacing: 1.5;
}

.main__text--button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}

.main__text--button input{
    width: 40%;
    padding: 18px;
    box-sizing: border-box;
    transition: width linear 0.3s;
}

.main__text--button input:focus{
    width: 60%;
    outline-color: transparent;
}

.main__text--button a{
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
    border: var(--cor-azul-escuro) 1px solid;
    text-decoration: none;
    padding: 15px;
}

.main__text--button a:hover{
    color: var(--cor-preto);
    background-color: var(--cor-azul-claro);
    border-color: var(--cor-azul-claro);
}

.main__show{
    width: 40vw;
    height: 100%;
    display: flex;
}

.main__show img{
    height: 384.5px;
    width: 177px;
    margin-top: 100px;
    border: var(--cor-preto) 1px solid;
    margin-left: -30px;
    z-index: 2;
}

.main__show img:nth-child(odd){
    margin-top: 140px;
    z-index: 1;   
}

.main__about{
    padding: 0 5%;
    border-radius: 0;
    background-color: var(--cor-menos-escura);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.main__about h2{
    color: var(--cor-cinza);
    font-size: 2.5rem;
}

.main__about img{
    height: 512.6px;
    width: 236px;
    overflow: hidden;
}

.main__about--crop{
    height: 236px;
    width: 236px;
    overflow: hidden;
}

.main__about--sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 100px 0 100px;
}

.main__about--sections h3{
    color: var(--cor-cinza);
    font-size: 2rem;
}

.main__about--sections p{
    color: var(--cor-cinza);
    font-size: 1.2rem;
    letter-spacing: 1.5;
}

.main__about--text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40%;
    margin: 0 50px;
}

footer{
    padding: 0 5%;
    background-color: var(--cor-branco);
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1025px){
    .main__text span h1{
        font-size: 2.5rem;
    }
    .main__show img{
        height: 192px;
        width: 88.5px;
        margin-top: 30vh;
    }
    
    .main__show img:nth-child(odd){
        margin-top: 35vh;
        z-index: 1;   
    }

    .main__text--button{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main__text--button input{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .main__text--button input:focus{
        width: 100%;
    }
    
    .main__text--button a{
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .main__about--text{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 40%;
        margin: 0 20px;
    }

    .main__about--sections{
        margin: 50px 50px 0 50px;
    }

    .main__about--sections h3{
        font-size: 1.5rem;
    }
    
    .main__about--sections p{
        font-size: 1rem;
        letter-spacing: 1.5;
    }
}

@media (max-width: 426px){
    .main__text span h1{
        font-size: 2.5rem;
    }
    .main__show img{
        height: 192px;
        width: 88.5px;
        margin-top: 30vh;
    }
    
    .main__show img:nth-child(odd){
        margin-top: 35vh;
        z-index: 1;   
    }

    .main__text--button{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main__text--button input{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .main__text--button input:focus{
        width: 100%;
    }
    
    .main__text--button a{
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .main__about--text{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 40%;
        margin: 0 20px;
    }

    .main__about--sections{
        margin: 50px 50px 0 50px;
    }

    .main__about--sections h3{
        font-size: 1.5rem;
    }
    
    .main__about--sections p{
        font-size: 1rem;
        letter-spacing: 1.5;
    }
}